{% extends 'base.html' %}

{% block title %}Edit user profile{% endblock %}
{% block form_name %}Edit user profile{% endblock %}

{% block content %}
    {% if success_message %}<p class="text-success"><strong>{{ success_message }}</strong></p>{% endif %}
    {% if error_message %}<p class="text-error"><strong>{{ error_message }}</strong></p>{% endif %}

    <form method="post" class="form-horizontal" action="{% url 'login:save' %}">
    {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="inputFirstName">First name</label>
            <div class="controls">
                <input type="text" name="inputFirstName" placeholder="First name" value="{{ user.first_name }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Last name</label>
            <div class="controls">
                <input type="text" name="inputLastName" placeholder="Last name" value="{{ user.last_name }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
                <input type="text" name="inputEmail" placeholder="Email" value="{{ user.email }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputAbout">About yourself</label>
            <div class="controls">
                <input type="text" name="inputAbout" placeholder="About yourself" value="{{ user.user_detail.about }}">
            </div>
        </div>
        <button type="submit" class="btn">Save</button>
    </form>
{% endblock %}