{% extends 'base.html' %}
{% load media %}

{% block title %}Edit user profile{% endblock %}
{% block head %}
    <style type="text/css">
        label{
            font-weight: bold;
        }
    textarea{
        width: 400px !important;
    }
    </style>
{% endblock %}
{% block form_name %}Edit user profile{% endblock %}

{% block content %}
    {% comment %}
    <form enctype="multipart/form-data" method="post" action="{% url 'login:save' %}">
    {% csrf_token %}
        {% if user_form %}
            {{ user_form }}
        {% endif %}
        {{ detail_form }}
        <br>
        <button type="submit" class="btn">Save</button>
    </form>

    <h2>Profile</h2>
    {% for field in form %}
        {{ field.error }}
    {% endfor %}
    {% endcomment %}

    <form enctype="multipart/form-data" action="{% url 'login:edit' %}" method="post">
    {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="Update" class="btn" />
    </form>
{% endblock %}