{% extends 'base.html' %}

{% block title %}Log in{% endblock %}
{% block form_name %}Log in{% endblock %}

{% block content %}
    {% if user.is_anonymous %}
    <form class="form-horizontal" method="post" action="{% url 'login:user_login' %}">
    {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit" class="btn">Enter</button>
        {% comment %}
        <div class="control-group">
            <label class="control-label" for="inputUserName">User name</label>
            <div class="controls">
                <input type="text" name="inputUserName" placeholder="User name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
                <input type="password" name="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn">Enter</button>
        </div>
        {% endcomment %}
    </form>
    {% else %}
        Welcome to mysite, {{ user.username }}
    {% endif %}
{% endblock %}