<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        {% load staticfiles %}

        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'cookies/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cookies/css/style.css' %}" />

        <script type="text/javascript" src="{% static 'cookies/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'cookies/js/bootstrap.js' %}"></script>

        {% block head %}
        {% endblock %}

    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <h1 class="span4">{% block form_name %}{% endblock %}</h1>
                    {% if user.is_anonymous %}
                        <div class="span5 pull-right">
                            <form action="{% url 'login:user_login' %}" method="post" class="form-inline pull-right">
                            {% csrf_token %}
                                <input name="inputUserName" type="text" class="input-small" placeholder="User name">
                                <input name="inputPassword" type="password" class="input-small" placeholder="Password">
                                {#<label class="checkbox"><input type="checkbox"> Remember me</label>#}
                                <button type="submit" class="btn">Enter</button>
                                <div>
                                    <a href="{% url 'login:create' %}">Sign up</a>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <div class="span5 pull-right color_yellow">
                            <form class="pull-right">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{% url 'login:profile' user.username %}"> <i class="icon-user icon-white"> </i> {{ user.username }}</a>
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'login:edit' %}"><i class="icon-pencil"></i> Edit</a></li>
                                        {#<li class="divider"></li>#}
                                        <li><a href="{% url 'login:user_logout' %}"><i class="icon-off"></i> Log out</a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
            <form class="form-horizontal">
                <a href="{% url 'main:main_view' %}" class="btn">Main page</a>
                <a href="{% url 'cookies:search' %}" class="btn">Find cookies</a>
            </form>
{% comment %}
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Project name</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

{% endcomment %}
            {% if success_message %}<p class="text-success">{{ success_message }}</p>{% endif %}
            {% if error_message %}<p class="text-error">{{ error_message }}</p>{% endif %}
            {% block content %}
            {% endblock %}

            <hr>
            © Homich77
        </div>
    </body>
</html>