{% extends 'base.html' %}
{% load media %}

{% block title %}{{ cookie.name }}{% endblock %}
{% block form_name %}{{ cookie.name }}{% endblock %}

{% block content %}
    <form method="post" action="{% url 'cookies:vote' cookie.id %}">
    {% csrf_token %}
        <div>
            <img class="pull-right img_detail" alt="{{ cookie.name }}_image" src="{% media cookie.img %}" />
            <div>
                <b>Rating:</b>
                {% if cookie.avg_mark %}
                    {{ cookie.avg_mark }}
                {% else %}
                    0
                {% endif %}
            </div>
            <br>
            <div class="detail">
                {{ cookie.description }}
            </div>
        </div>
        <div style="clear: both;">
            {% if user.is_authenticated and not user_cookie %}
                <h2>Add review:</h2> Mark: <select class="input-mini" name="mark">

                {% for x in 5|get_reverse_range %}
                    <option>{{ x }}</option>
                {% endfor %}

                </select><br>
                <textarea style="width: 80%;" rows="3" name="description"></textarea><br>
                <button type="submit" class="btn">Add review</button>
            {% elif user_cookie %}
                <p class="text-success">You have already voted</p>
            {% endif %}

            <h2>Reviews:</h2>
            {% if cookie.review_set.all %}
                {% for review in cookie.review_set.all|dictsortreversed:"date" %}
                    <div class="row review">
                        <div class="span1">
                            {% if review.user_id.profile.ava %}
                                <img alt="profile_image" src="{% media review.user_id.profile.ava %}" />
                            {% else %}
                                <img alt="profile_image" src="{% media 'no_image.gif' %}" />
                            {% endif %}
                        </div>
                        <div class="span2">
                            <div class="dg ">
                                <a class="b" href="{% url 'login:profile' review.user_id.username %}">{{ review.user_id.first_name }} {{ review.user_id.last_name }}</a>
                            </div>
                            Mark: <b>{{ review.mark }}</b>
                            <br>
                            {{ review.date|date:'d.m.Y H:i' }}
                        </div>
                        <div class="span6">
                            {{ review.text }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-error">No reviews are available.</p>
            {% endif %}
        </div>
     </form>
{% endblock %}