{% extends 'base.html'%}
{% load media %}

{% block title %}My site{% endblock %}
{% block form_name %}My site{% endblock %}

{% block content %}
    {% if best_cookie_list %}
        <h2>Best cookies</h2>
        <table class="table table-hover">
            {% for cookie in best_cookie_list %}
                <tr>
                    <td class="w100">
                        <a href="{% url 'cookies:detail' cookie.pk %}"><img alt="{{ cookie.name }}_image" src="{% media cookie.img %}" class="h100" /></a>
                    </td>
                    <td>
                        <h4 class="media-heading"><a href="{% url 'cookies:detail' cookie.pk %}">{{ cookie.name }}</a></h4>
                        <span class="dg">Rating: {{ cookie.avg_mark }}</span>
                        <br>{{ cookie.description }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="text-error">No cookies are available.</p>
    {% endif %}

{% endblock %}