<dl class="star-rating">
                                <dt></dt>
                                <dd>
                                    <ol>
                                        <li><a href="#" class="star1">Awfully</a></li>
                                        <li><a href="#" class="star2">Badly</a></li>
                                        <li><a href="#" class="star3">Normally</a></li>
                                        {#<li><a href="#" class="star4">Good</a></li>#}
                                        <li class="current" style="width:80px"><a href="#" class="star4">Good</a></li>
                                        <li><a href="#" class="star5">Excellent</a></li>
                                    </ol>
                                </dd>
                            </dl>